//font
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
$raleway: 'Raleway', sans-serif;

// Font size
$h1: 56px;
$h2: 46px;
$h3: 30px;
$p: 1.5rem;
$lp: 20px;
$cardName: 27px;
$a: 14px;

//Font weight
$lightW: 200;
$normW: 400;
$boldW: 600;

//colors
$green: #657244;
$gray: #D0D9E2;
$darkGray: #73726D;
$lightGray: #A6A49F;
$cream: #F2F0EC;
$brown: #A07E70;
$blueNav: #1F313D;
$white: #ffffff;
$black: #000000;
$lightBrown: #73554C;
$darkBrown: #4B2212;
$orange: #CD511F;
$yellow: #B86D01;
$blue: #335753;
$red: #9E1C1C;

//background
 $woodbg: url('../img/wood-bg.jpg');
 $girl: url('../img/genevieve.png');
 $restaurant: url('../img/restaurant.png');
