.single_add_to_cart_button{
    @extend .gbutton;
}

.price{
    padding: 10px 0;
}

.woocommerce-product-details__short-description{
    padding: 15px 0;
}

.product_meta{
    margin-top: 20px;
}

.tabs li{
    display: inline;
    padding-right: 10px;
}

.woocommerce-pagination {
	font-family: $raleway;
    font-size: 0.88889em;
    display: flex;

	ul.page-numbers {
		margin: auto;
		line-height: 1.2;
        justify-content: center;
	}
    ul li {
      display:inline;
    }

	span.page-numbers,
	a.page-numbers,
	.next.page-numbers,
	.prev.page-numbers {
		padding: 0 calc(.5 * 1rem);
		display: inline-block;
	}
}

.woocommerce-pagination {
    span.page-numbers,
    a.page-numbers,
    .next.page-numbers,
    .prev.page-numbers {
        padding: 1rem;
    }
}