.card{
    border-style: solid;
    border: none;
    background-color: $white;
    // width: 375px; 
    width: 28%;
    // height: 511px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 25px;

    &--boutique-categorie{
        box-shadow: none;
        width: auto;
        margin: 5px;
    }
}
.produit-img{
    width: 376px;
    height: 254px;
}
 .card-title{
     display: flex;
     justify-content: space-between;
     margin: 30px 30px 10px;
 }
.pastille{
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    margin: 30px 0;
}