.wrapper{
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
}

.content{
    display: flex;
    justify-content: center;
    padding: 125px 0;

    &--row{
        display: flex;
        justify-content: center;
        flex-flow: row;
        padding: 125px 0;
    }

    &--column{
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding: 125px 0;
    }

    &--rowimpaire{
        display: flex;
        justify-content: center;
        flex-flow: row-reverse;
        padding: 125px 0;
    }
    
    &--rowN{
        display: flex;
        justify-content: center;
        flex-flow: row;
    }
}