
.produit-title{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}
.slide{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // flex-flow: row;
}
.recherche{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.article{
    width: 574px;
    height: 393px;
}

.article2{
    height: 108px;
}

.desc{
    margin: 100px;
}

.prod-card{
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.prod-desc{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin: 0  0 10px 25px;
}

.tansimg{
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    align-items: center;
}
.articleimg{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width: 574px;
    margin-top: 35px
}