.woodbg{
    margin-top: 10px;
    height: 764px;
    background-size: cover;
    background-image: $woodbg;
}


.titre{
    display: flex;
    justify-content: center;
    padding-top: 420px;
}

.videoborder{
    width: 1280px;
    height: 720px;
}

.contact{
    background-color: $green;
}

.description{
    color: $cream;
}

.ordre{
    margin: 75px 125px;
    text-align: center;
}